<h2>Today's Special</h2>

@if (inventories.length <= 0) {
  <h3>No inventories</h3>
} @else {

  @for (inv of inventories; let idx = $index; track inv.key) {

    <div class="inventory">
      <div>
          <img src="/fruits/{{ inv.image }}" class="thumbnail">
      </div>
      <div class="inventory-items">
        <div>
          Name: {{ inv.name }}
        </div>
        <div>
          Unit Price: {{ inv.unitPrice | currency }}
        </div>
        <div class="apart">
          <button type="button" (click)="updateItem(inv.key, -1)">-</button>
          <button type="button" (click)="updateItem(inv.key, 1)">+</button>
        </div>
      </div>
    </div>
  }

}
